:global .confirmation-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -2;

    .black-drop {
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.7;
    }

    .contain {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: -100%;
        border: none;
        background: transparent;
        overflow: auto;
        border-radius: 4px;
        outline: none;
        padding: 0;
        transition: all 0.3s ease-out 0s;
        max-height: 100%;
    }

    .content-container {
        background-color: rgb(255, 255, 255);
        max-width: 480px;
        margin: 0 auto;
        border-width: 1px;
        border-style: solid;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-color: rgb(255, 255, 255);
        width: 100%;
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    &.isOpen {
        opacity: 1;
        z-index: 99999999999999;

        .contain {
            bottom: 0;
            transition: 0.3s ease-in-out;
        }
    }

    .heading {
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;

        .img {
            border-radius: 4px;
            width: 64px;
            height: 64px;
            background-color: rgb(245, 245, 245);
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
                vertical-align: top;
            }
        }

        .text-wrap {
            width: 10%;
            flex: 1 1 auto;
            padding-left: 16px;

            .stat,
            .text,
            .texts {
                display: block;
            }

            .text {
                margin: 0;
                vertical-align: middle;
                display: block;
                color: rgb(82, 82, 82);
                font-size: 14px;
                line-height: 21px;
                max-width: 200px;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: bold;
                overflow: hidden;
            }

            .texts {
                vertical-align: middle;
                display: block;
                color: rgb(82, 82, 82);
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                white-space: normal;
            }

            .stat {
                padding-left: 4px;
                padding-right: 4px;
                height: 18px;
                border-radius: 9px;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(255, 255, 255);
                background-color: rgb(48, 172, 48);
                display: inline-block;
                box-sizing: border-box;
                text-align: center;

                span {
                    margin: 0;
                    font-size: 10px;
                    line-height: 16px;
                    padding: 0 2px;
                    color: rgb(255, 255, 255);
                    vertical-align: super;
                }
            }
        }
    }

    .body {
        padding-bottom: 50%;
    }
}
