:global .cards-container {
    width: 100%;
    margin-bottom: 0;
    background-color: white;

    a {
        background-color: transparent;
        width: 100%;
        padding: 0;
        border-width: 0;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        vertical-align: top;
    }

    .img-wrapper {
        position: relative;

        .isContainer {
            background-color: rgb(245, 245, 245);
            overflow: hidden;
            position: relative;
            padding-bottom: 100%;

            img {
                position: absolute;
                display: block;
                margin: 0 auto;
                top: 50%;
                left: 50%;
                max-height: 100%;
                // width: 100%;
                transform: translate(-50%, -50%);
                opacity: 1;
                z-index: 2;
                object-fit: cover;
            }
        }
    }

    .description-wrapper {
        padding: 8px 16px;
        height: 93px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;

        .right-container {
            flex-wrap: nowrap;
            display: flex;
        }

        .left-container {
            flex: 1 1 auto;
            width: 10%;

            a {

                p {
                    margin: 0;
                    vertical-align: middle;
                    display: block;
                    color: rgb(82, 82, 82);
                    font-size: 14px;
                    line-height: 21px;
                    max-width: 322px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 18px;
                }
            }

            p {
                margin: 0;
                vertical-align: middle;
                display: block;
                color: rgb(82, 82, 82);
                font-size: 14px;
                line-height: 21px;
                max-width: 322px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 18px;
            }

            .size {
                margin-top: 4px;
                margin-bottom: 4px;
                background-color: rgb(232, 232, 232);
                padding: 3px 8px;
                display: inline-block;

                span {
                    margin: 0;
                    vertical-align: middle;
                    display: block;
                    color: rgb(128, 128, 128);
                    font-size: 12px;
                    line-height: 18px;
                    max-width: 322px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .price {
                margin: 0;
                vertical-align: middle;
                display: block;
                color: rgb(82, 82, 82);
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                white-space: normal;
            }
        }

        .fav {
            position: relative;
            pointer-events: auto;
            height: 40px;
            padding: 8px 16px;
            border-width: 0;
            background-color: transparent;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            box-sizing: border-box;
            outline: none;
            text-decoration: none;
            display: inline-block;

            img {
                width: 24px;
                height: 24px;
                background-size: 100%;
                background-position: 0 0;
                display: block;
                margin: 0 auto;
                max-width: none;
            }
        }

        .action {
            position: relative;
            pointer-events: auto;
            height: 40px;
            padding: 7px 15px;
            border-color: rgb(172, 20, 90);
            border-width: 1px;
            border-style: solid;
            border-radius: 8px;
            background-color: rgb(172, 20, 90);
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            box-sizing: border-box;
            outline: none;
            text-decoration: none;
            display: flex;
            align-items: center;

            span {
                margin: 0;
                vertical-align: middle;
                display: inline-block;
                color: rgb(255, 255, 255);
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.4px;
                font-weight: normal;
                white-space: normal;
            }
        }

        // Styling for detail //
        &.is-detail {
            padding-top: 8px;
            padding-bottom: 16px;
            height: 79px;

            .left-container {

                p {
                    display: block;

                    color: rgb(82, 82, 82);
                    font-size: 18px;
                    line-height: 27px;
                    white-space: normal;
                    max-width: 100%;
                }

                .price {
                    display: flex;
                    color: rgb(172, 20, 90);
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: normal;
                    white-space: normal;

                    .testing {
                        margin-left: auto;
                        display: flex;
                        align-items: center;
                        flex-wrap: nowrap;
                        cursor: pointer;

                        img {
                            width: 24px;
                            height: 24px;
                            background-size: 100%;
                            background-position: 0 0;
                            display: block;
                            margin: 0 auto;
                            max-width: none;
                        }

                        p {
                            display: block;

                            color: rgb(48, 172, 48);
                            font-size: 16px;
                            line-height: 21px;
                            white-space: normal;
                        }
                    }
                }
            }

            .right-container {
                display: none;
            }
        }
    }

    .container-list {
        padding: 16px;

        border-top: 1px solid lightgray;

        p {

            &.heading {
                color: rgb(128, 128, 128);
                font-size: 12px;
                line-height: 18px;
                white-space: normal;
            }

            &.hasMargin {
                margin-top: 10px;
            }
        }

        .small {
            color: rgb(128, 128, 128);
            font-size: 12px;
            line-height: 18px;
            white-space: normal;
        }

        .action-button {
            display: flex;
            margin-top: 10px;

            .light {
                position: relative;
                pointer-events: auto;
                margin-right: 4px;
                height: 40px;
                padding: 7px 15px;
                border-color: rgb(196, 196, 196);
                border-width: 1px;
                border-style: solid;
                border-radius: 8px;
                background-color: rgb(255, 255, 255);
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                box-sizing: border-box;
                outline: none;
                text-decoration: none;
                display: inline-block;
                display: flex;
                align-items: center;

                img {
                    width: 24px;
                    height: 24px;
                    background-size: 100%;
                    background-position: 0 0;
                    display: block;
                    margin: 0 auto;
                    max-width: none;
                }

                span {
                    margin: 0;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    vertical-align: middle;
                    display: inline-block;
                    margin-left: 10px;
                    font-weight: 700;
                    color: rgb(82, 82, 82);
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.4px;
                    white-space: normal;
                }
            }

            .color {
                position: relative;
                pointer-events: auto;
                height: 40px;
                width: 100%;
                padding: 7px 15px;
                border-color: rgb(172, 20, 90);
                border-width: 1px;
                border-style: solid;
                border-radius: 8px;
                background-color: rgb(172, 20, 90);
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                box-sizing: border-box;
                outline: none;
                text-decoration: none;
                display: inline-block;

                flex: 1 1 auto;
                color: white;
                font-weight: bold;
                align-self: center;

                span {
                    font-size: 12px;
                }
            }
        }

        .action-size {
            margin-top: 16px;
            display: flex;
            align-items: center;
            cursor: pointer;
            background: transparent;
            border: 0;
            padding: 0;

            img {
                width: 24px;
                height: 24px;
                background-size: 100%;
                background-position: 0 0;
                display: block;
                margin: 0 auto;
                max-width: none;
            }

            p {
                color: rgb(82, 82, 82);
                font-size: 14px;
                line-height: 21px;
                white-space: normal;
                font-weight: 500;
                margin-left: 10px;
            }
        }
    }
}
