:global .filter-container {
	width: 100%;
    margin-top: 8px;
    margin-bottom: 0px;
	background-color: white;
	padding: 16px;

	.select-wrapper {
		position: relative;
		display: inline-block;

		select {
			position: relative;
			margin-right: 8px;
			padding: 0px 15px;
			height: 40px;
			border-color: rgb(196, 196, 196);
			border-width: 1px;
			border-style: solid;
			border-radius: 8px;
			background-color: transparent;
			z-index: 8;
			cursor: pointer;
			box-sizing: border-box;
			outline: none;
			color: rgb(82, 82, 82);
			font-size: 13px;
			line-height: 18px;
			letter-spacing: 0.4px;
			font-weight: bold;
			-webkit-appearance: none;
		}
	}

	button {
		position: relative;
		font-weight: bold;
		font-size: 13px;
		line-height: 18px;
		pointer-events: auto;
		margin-right: 8px;
		height: 40px;
		padding: 7px 15px;
		border-color: rgb(196, 196, 196);
		border-width: 1px;
		border-style: solid;
		border-radius: 8px;
		background-color: rgb(255, 255, 255);
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		box-sizing: border-box;
		outline: none;
		text-decoration: none;
		display: inline-block;
	}
}