:global .section-container {
    padding-top: 5.6rem;
    z-index: 10;
    background-color: rgb(232, 232, 232);
    padding-bottom: 0;
    min-height: calc(100vh);

    div[role='main'] {
        background: rgb(232, 232, 232);
        padding: 0 0 1.6rem;
        overflow-x: hidden;
        flex: 1 1 0%;
        max-width: 48rem;
        margin: 0 auto;
        font-weight: normal;
    }
}

:global .loader {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(232, 232, 232, 1);
    z-index: 5;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
