:global .srb-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
        0deg,
        rgb(179, 179, 179),
        rgb(179, 179, 179) 49%,
        transparent 51%
    )
        center bottom / 100% 0.1rem no-repeat rgb(255, 255, 255);
    z-index: 777;
    font-weight: normal;

    .container-wrapper {
        max-width: 48rem;
        margin: 0 auto;
        position: relative;
        font-weight: normal;
        display: flex;
        align-items: center;

        .back-button {
            padding: 8px;
            cursor: pointer;

            button {
                position: relative;
                pointer-events: auto;
                height: 40px;
                padding: 7px;
                border-color: transparent;
                border-width: 1px;
                border-style: solid;
                border-radius: 8px;
                background-color: rgb(255, 255, 255);
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                box-sizing: border-box;
                outline: none;
                text-decoration: none;
                display: inline-block;

                img {
                    width: 24px;
                    height: 24px;
                    background-size: 100%;
                    background-position: 0 0;
                    display: block;
                    margin: 0 auto;
                    max-width: none;
                }
            }
        }

        .title-container {
            height: 32px;
            flex: 1 1 auto;
            width: 10px;

            .title {
                color: rgb(82, 82, 82);
                font-size: 18px;
                line-height: 27px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .action-header-container {
            padding: 8px;
            display: flex;
            flex-wrap: nowrap;

            &.is-search {
                flex: 1 1 auto;
                width: 10%;
            }

            .search {
                width: 100%;
                padding-left: 0;
                height: 32px;
                flex: 1 1 auto;
                width: 10%;
                align-self: center;

                .wrapper {
                    width: 100%;
                    border-radius: 4px;
                    border-width: 1px;
                    border-style: solid;
                    background-color: rgb(240, 240, 240);
                    border-color: transparent;
                    height: 32px;
                    padding: 3px 8px;
                    box-sizing: border-box;
                    display: flex;

                    .img {
                        padding-right: 8px;

                        img {
                            width: 24px;
                            height: 24px;
                            background-size: 100%;
                            background-position: 0 0;
                            display: block;
                            margin: 0 auto;
                            max-width: none;
                        }
                    }

                    .input {
                        width: 100%;

                        input {
                            font-size: 14px;

                            border-color: transparent;
                            background-color: rgb(240, 240, 240);
                            width: 100%;
                            outline: 0;
                            cursor: auto;
                        }
                    }
                }
            }

            button {
                pointer-events: auto;
                height: 40px;
                padding: 7px;
                border-color: transparent;
                border-width: 1px;
                border-style: solid;
                border-radius: 8px;
                background-color: rgb(255, 255, 255);
                text-align: center;

                img {
                    width: 24px;
                    height: 24px;
                    background-size: 100%;
                    background-position: 0 0;
                    display: block;
                    margin: 0 auto;
                    max-width: none;
                }
            }
        }
    }
}
