:global .fullscreen {
    position: relative;
    z-index: 77777777777;

    @media only screen and (max-width: 990px) {

        .css-9xjzrb {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

:global .outer-container {
    background-color: rgb(190, 233, 231);
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    height: 56px;

    .inner-container {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30%;
        justify-content: center;

        button {
            width: 100%;
            padding: 0;
            background-color: transparent;
            border: none;

            span {
                margin: 0;
                vertical-align: middle;
                display: block;
                color: rgb(82, 82, 82);
                font-size: 10px;
                line-height: 16px;
                font-weight: bold;
                text-align: center;
                white-space: normal;
            }
        }

        &.sec {
            margin-left: 12px;
            margin-right: 12px;
            width: 40%;
        }

        .line {
            background: black;
            height: 20%;
            width: 1px;
        }
    }
}
